* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* -------------------------------------------------------------------------------------- */

body {
    font-family: Arial;
    
}


.productos img {
    vertical-align: middle;
    border-radius: 0 !important;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #222;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}
/* -------------------------------------------------------------------------------------- */


#busqueda{
    display: flex;
    background-color: #ccb23e;  
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
    font-size: auto;
    width: 100vw;
    max-width: 100%;
}

/*
header{
    background-color: black;
    display: flex;
    width: 100%;
    box-sizing:border-box;
    padding: 15px;
    color: white;
    align-items: center;

}
header img{
    max-width: 100px;
    max-height: 100px;
    object-fit: scale-down;
}
header span{
    width: 80%;
    visibility:hidden;
}
*/
#busqueda{
    display: flex;
    background-color: #ccb23e;  
    justify-content: center;
    font-size: auto;
    width: 100vw;
}
#busqueda h4{
    width: 90%;   
    background-color: white;
    text-align: center;
    color: gray;
}

body{
    background-color: #595959;
    font-family: 'Roboto', sans-serif;
    align-items: center;

    
}
footer {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    width: 100%;
    margin-top: auto;
}

footer p {
    margin-top: 12px;
    margin-bottom: 12px;
}
.productos{
    box-sizing:border-box;
    display: flex;
    width: 60%;
    border:  solid gray;    
    border-radius: 2px;
    color: black;
    padding: 10;
    background-color: white;
    margin: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.titulo {
    background-color: white;
    border:  solid gray;  
    color: black;
    padding: 10;

}
.productos-detalles{
    width: 100;
    padding: 5px;
    
}

.productos-precio{
    width: 100;
    padding: 5px;
    font-size: calc(1.317rem + .804vw);
    color: black;
    font-family: var(--font-title),var(--font-default),var(--font-fallback-sans-serif);
    font-weight: 300;
}
.productos img{
    flex-basis: 50%;
}
main {
    display: flex;
    justify-content: center;

}
.productos:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.detalleProductos{
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    
}


.productos img{

    max-width: 100%;
    max-height: 63%;
    object-fit: scale-down;
    border-radius: 20px;
 }

@media (min-width: 556px) {
    header span{
        display: flex;
        visibility:visible;
        justify-content: space-around;
        align-items: center;
        
    }
  

}
@media (min-width: 769px) { 
    .footer{
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 2px;

    }
    .productos{

        flex-direction: row;
        
    
    }
    .detalleProductos{

        width: 2300px;
        text-align: left;
        margin-left: 10px;
    }

    .footer p {
        width: 160px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    footer .redes {
        margin-top: 5px;
    }

    footer .logos {
        margin-top: 5px;
    }

    footer .politicas {
        margin-top: 10px;
    }
}

@media (min-width: 1280px) {
    .footer {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .footer p {
        width: 160px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
}