<span id="busqueda">
    <br>
    </span>

<footer>
    <br>
    <br>
    <section class="footer"> 
        <p>Compra tu auto</p>
        <p>Financiamiento </p>
        <p>Preguntas frecuentes </p>           
    </section>
    <section class="footer">
        <p>Redes sociales</p>
        <p>Contacto </p>
        <p>Trabaja con nosotros</p>
    </section>
    <section class="redes" style="text-align: center;">
        <p>Redes sociales</p>
    </section>
    <section class="logos">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram-square"></i>
        <i class="fa-brands fa-youtube"></i>
    </section>
    <section class="politicas">
        <p>Politicas de Privacidad  Terminos y condiciones</p>
    </section>

</footer>