<!Doctype html>
<html lang="en">
    <head>
        <title>Nosotros</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <link href="/css/styles+header.css" rel="stylesheet">
        <link href="/css/styles+nosotros.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
    </head>
<body>
    <%- include('../partials/header')%>

    <main>
            <img src="/images/photohand1.jpg" class="foto1">
            <div class="texto-arriba">INFINITI CARS</div>
        <p class="parrafo-imagen">Te acompañamos en todo el proceso para que puedas adquirir el vehículo ideal</p>
        <div class="nosotros-parrafo">
        <h3>VISIÓN: Enriquecer la vida de la gente.</h3>
        <br>
        <h3>MISIÓN: Infinity Cars provee automotrices únicos e innovadores que ofrecen seguridad, calidad para nuestros clientes.</h3>
        <br>
        </div>
        <span class="foto-para-nosotros4">
            <img src="/images/foto-para-nosotros4.jpg">
            <div class="parrafo-sucursal">
            <h2>Nuestras sucursales</h2>
            <p>Contamos con sucursales en distintos lugares de la provincia y el país. Todas las mañanas que viví
            Todas las calles donde me escondí
            El encantamiento de un amor
            El sacrificio de mis madres
            Los zapatos de charol</p>
            </div>
        </span>
        <br>
        <br>
        <br>
        <br>
        <span class="foto-para-nosotros2">
            <div class="parrafo-sucursal">
            <h2>Novedades del mes</h2>
            <p>Los domingos en el club
                Salvo que Cristo sigue allí en la cruz
                Las columnas de la catedral y la tribuna
                Grita gol, el lunes por la capital</p>
            </div>
            <img src="/images/foto-para-nosotros2.jpg">
        </span>
        <br>
        <br>
        <br>
        <br>
        <span class="foto-para-nosotros4">
            <img src="/images/foto-para-nosotros3.jpg">
            <div class="parrafo-sucursal">
            <h2>Experiencia de clientes</h2>
            <p>Todos yiran y yiran
                Todos bajo el sol
                Se proyecta la vida
                Mariposa tecknicolor Cada vez que me miras
                Cada sensación
                Se proyecta la vida
                Mariposa tecknicolor</p>
            </div>
        </span>
        <br>
        <br>
        <br>
        <br>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>
