<!Doctype html>
<html>
    <head>
        <title>404 not found</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <meta name="viewport" content="width=device-wid th">
        <meta charset="utf-8">
        <link href="/css/styles+header.css" rel="stylesheet">
        <link href="/css/styles+home.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('../partials/header')%>
        <main class="notfound">   
            <img src = "/images/404-notfound.png" >
            <h4>Sorry, looks like we sent you the wrong way.
                Let us guide you back!</h4>
                <br>
            <p> Head to the <a href="/productos/1">Car Chooser</a> to find your perfect car, or go back to the <a href="/">Homepage</a>.</p>
                <br>
        </main>
        <%- include('../partials/footer')%>
    </body>
</html>